export(Draw.HMCovManifest)
export(Estimate.HMCovManifest)
export(Select.CV)
importFrom(stats, aggregate)
importFrom(stats, optim)
importFrom(stats, rmultinom)
importFrom(stats, rnorm)
importFrom(stats, runif)
importFrom(stats, sd)
